<div class="block text-center">
  <h1 class="block-title">The psychQest Project</h1>
  <h1 class="mt-5 mb-5">For now, it's just a vision.</h1>
  <h2 class="text-muted mt-3">But, wouldn't it be great, to share the knowledge of psychological tests?</h2>
  <h2 class="text-muted mt-3">To provide therapists, psychological researchers and <br>all the people, suffering from
    mental illness, open, modern and save tools, protecting their privacy?</h2>
  <h2 class="text-muted mt-3">...for now, that is just a dream...</h2>
  <h2 class="text-muted mt-3">... but it's the power, that drives this project.</h2>
  <h1 class="mt-5">Current status: An open space of so many ideas.</h1>
  <h1 class="mt-5 mb-5">Next stop: First release.</h1>
  <a href="https://github.com/psychquest" class="mt-3">
    <span class="text-muted icon icon-github" style="font-size: 6rem;"></span>
  </a>
</div>
